.books {
  margin: 0 auto;
  width:80%;
  height:600px;
  border:1px solid red;
  

  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
}
.book{
  width:10em;
  border:1px solid blue;
  border-radius: 20px;
  height:250px;
  text-align: center;
}